@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sans {
  font-family: "Nure", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 1rem 2rem;
  max-width: 47.25rem;
  margin: 0 auto;
}

.title {
  font-family: Nure;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
}

.subtitle {
  font-family: 'Nure';
  font-weight: 100;
  font-size: 16px;
  line-height: 1rem;
  margin: 0.5rem 0;
}

p {
  font-family: Nure;
  font-size: 1.05rem;
  font-weight: 400;
  line-height: 105%;
  margin: 0.5rem 0;
  line-height: 1.3;
}

.dropcap {
  float: left;
  line-height: 1;
  font-family: "Times New Roman";
  font-size: 2.5rem;
  font-weight: 400;
  color: #B02B2B;
  margin-right: 0.8rem;
}
